/* GENERAL STYLES */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.buttonList {
    margin-top: 20px;
}

.beerButton {
    display: inline;
    text-align: center;
    margin-bottom: 20px;
    
    
}

.buttonDesign {
    width: 100px;
}

#mapbox {
    text-align: center;
    background-color: darkslategrey;
}
 
#map {
    position: relative;
    margin: auto;
    width: 90%;
    height: 350px;
    margin-bottom: 20px;
}

#listgroup {
    float: left;
    column-width: auto;
}

#locale-buttons {
    float: right;
}

header {
    text-align: center;
    background-color: darkslategrey;
    color: whitesmoke;
    padding: 10px 0;
    margin-bottom: 20px;
}

body {
    background-color: darkslategrey;
}

.container {
    background-color: darkslategrey;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    text-align: center;
}

.goButton {
    float: right;
}

.list-text {
    width: 100%;

}

.duration{
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.tripDir li:nth-child(2n-1) {  
    background-color: rgba(202, 199, 199, 0.623);
  }